body, * {
  margin: 0;
  padding: 0;
}

body{
  background-color: #F2F1E8;
}

.container{
  display: flex;
  justify-content: flex-start;
  background-color: white;
  align-items: center;

}

.navbar{
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  align-content: center;
  border-width: thick;
  padding: : 20px;
  margin-left: 400px;

}

.navbar a{
  color: #2B2F26;
  display: flex;
  justify-content: space-between;

}

.navbar a:hover{
  color: #CD5D67;
}

.nav-link{
  margin: 10px;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Merriweather";

  width: 70%px;
}
h1{
  display: flex;
  justify-content: center;

}

p img{
  float:left;
  height: 20%;
  width:20%;
}
 .i{
   display: flex;
   padding: 10px;
   border-left: 3px;
   border-color: black;
 }

 .plants{
   margin-left: 190px;
   width: 60%;
 }

 .plantimage{
   background-image: url("images/background-3.jpg");
   background-position: center;
   background-size: cover;
   height: 10vw;



   color: white;

 }


 table{
  border-collapse: collapse;
 }
 td{
   border-width: 2px;
   border-color: black;
 }

footer{
  display: flex;
  color: white;
  padding: 30px;
  align-items: center;
  background-color: #2B2F26;
}
